.haba{
  width: 100px;
  float:left;
}

.takasa{
  margin-top: 10px;
}

.text-a{
  width: 200px;
  height: 20px;
}

.text-b{
  width: 50px;
  margin-right: 5px;
}

.text-c{
  width: 500px;
  height: 80px;
}
.th{
  text-align: center;
}
